*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box; 
    
}

body{
    font-family: sans-serif;
    background-color: #f58659;
    width: 100vw;
    height: 100vh;
}

.main-layout{
    width: 90%;
    /* border: 1px black solid; */
    margin: 0 auto;
    overflow: hidden;
}

header .main-layout{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header{
    background-color: bisque; 
}

.location-info{
    display: flex;
    /* border: 1px black solid; */
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.location-info button{
    height: 1rem;
}

.location-info h3 , .location-info span{
    margin-inline-end: 1rem;
}

main {
    display: flex;
    
}

@media (max-width:750px) {   
    body{
        font-size: 0.8rem;
    }
    main{
        margin: 0 auto;
        width: 80%;
        flex-direction: column-reverse;
    }

    header .main-layout{
        flex-direction: column;
    }

    header h1{
        margin-bottom: 1rem;
        
    }
    .search-container{
        display: flex;
        justify-content: space-between;
        width: 80%;
        /* border: 1px black solid; */

        height: 1rem;
    }
    
    
    .location-info{
        margin: 0 auto;
        width: 80%;
        line-height: 2rem;
        
    }



    main .right-container{
        margin-bottom: 1rem;
    }
    
    .left-container{
        width: 100%;
    }
    
    .weather{
        padding-bottom: 1rem;     
    }

}

.location-info button{
    
}

.left-container{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-inline-end: 1rem ;
    /* border: 1px black solid; */
    justify-content: space-between;
    height: 400px;
    row-gap: 1rem;
}

.right-container{
    flex-basis: 50%;
}

.weather{
    flex-grow: 1;
    border: 1px black solid;
}

.locations-table{

}

table{
    width: 100%;
    border: 1px black solid;
}



